APP_ENV=development

POSTGRES_USER=logistics
POSTGRES_PASSWORD=logistics
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

QUOTATION_DB=quotation_db
ORDER_DB=order_db
PAYMENT_DB=payment_db
WAREHOUSE_DB=warehouse_db
ADMIN_DB=admin_db

KAFKA_BROKERS=kafka:9092

QUOTATION_SERVICE_PORT=8080
ORDER_SERVICE_PORT=8080
PAYMENT_SERVICE_PORT=8080
WAREHOUSE_SERVICE_PORT=8080
ADMIN_SERVICE_PORT=8080

QUOTATION_SERVICE_URL=http://quotation-service:8080
ORDER_SERVICE_URL=http://order-service:8080

OUTBOX_POLL_INTERVAL=1s
HTTP_CLIENT_TIMEOUT=2s
